<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!-- 网站名称,收藏网页时显示 -->
	<display-name>测试客户端</display-name>
	<!-- 网站描述 -->
	<description>测试客户端</description>

	<!-- 
		classpath*:applicationContext.xml会加入本项目及所有jar包根目录下的applicationContext.xml文件，跨jar包依赖时使用 
		classpath:applicationContext.xml只加入本项目根目录下的applicationContext.xml文件，不依赖其它jar包的配置文件时推荐这样写，以避免冲突。
	 -->
	<!-- context-param 元素用来设定web站台的环境参数(context), 它包含两个子元素:param-name和param-value.,如spring的典型配置 -->
	<!-- 加载 Spring 的配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:config/spring/beans*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 请求报文打印监听器 -->
	<listener>
		<listener-class>com.mss.web.listener.RequestListener</listener-class>
	</listener>
	
	<!-- spring security session监听器 -->
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	
	<!-- 防止内存泄露 -->   
	<listener>   
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>   
	</listener>
	
	<!-- 跨域访问 -->
	<filter>
	    <filter-name>CORS</filter-name>
	    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>CORS</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 编码过滤器,所有过滤器之前 -->
	<filter>  
        <filter-name>encodingFilter</filter-name>  
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
        <async-supported>true</async-supported>  
        <init-param>  
            <param-name>encoding</param-name>  
            <param-value>UTF-8</param-value>  
        </init-param>  
    </filter>  
    <filter-mapping>  
        <filter-name>encodingFilter</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping>
    
    <!-- Spring Secutiry4.1.1的过滤器链配置,必须引入beans-security.xml配置文件，否则加载不到Filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- druid监控配置 -->
	<filter>  
        <filter-name>DruidWebStatFilter</filter-name>  
        <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>  
        <init-param>  
            <param-name>exclusions</param-name>  
            <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>  
        </init-param>  
    </filter>  
    <filter-mapping>  
        <filter-name>DruidWebStatFilter</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping>
	<!-- 配置 Druid 监控信息显示页面 --> 
	<servlet> 
		<servlet-name>DruidStatView</servlet-name> 
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class> 
		<init-param> 
		<!-- 允许清空统计数据 --> 
		<param-name>resetEnable</param-name> 
		<param-value>true</param-value> 
		</init-param> <init-param> 
		<!-- 用户名 --> 
		<param-name>loginUsername</param-name> 
		<param-value>druid</param-value> 
		</init-param> 
		<init-param> 
		<!-- 密码 --> 
		<param-name>loginPassword</param-name> 
		<param-value>druid</param-value> 
		</init-param> 
	</servlet>    
	<servlet-mapping>     
	    <servlet-name>DruidStatView</servlet-name>  
	    <url-pattern>/druid/*</url-pattern>  
	</servlet-mapping>	

	<!-- 加载 SpringMVC 的配置文件 -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/spring/beans-mvc.xml</param-value>
		</init-param>
		<!-- 应用启动时就加载这个servlet,并且第一个加载 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
 
	<!-- session-config包含一个子元素session-timeout.定义web站台中的session参数. -->
	<session-config>
		<!-- 定义这个web站台所有session的有效期限.单位为分钟 -->
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- 指定错误码对应返回页面 -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/pages/404.jsp</location>
	</error-page>

	<!-- 指定异常对应返回页面 -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/pages/exception.jsp</location>
	</error-page>
</web-app>
